<div id="content-section">
    <div>
        <h1>Revature Properties</h1>
    </div>
    <div class="search-section">
       
       <input type="text" ng-model="query">
        <label for="search">Search</label>
       
   </div>
   <div class="class">
     <div class="hotel-container" ng-repeat="hotel in $ctrl.hotels| filter: query" >
       <a ng-href="#!hotel/{{hotel.id}}">
       <img id="image" ng-src="{{ hotel.imagePath}}">
         <ul>
           <li>{{hotel.name}}</li>
           <li>{{hotel.address}}</li>
         </ul>

      
       </a>
     </div>
   </div>
 </div>